@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url(/images/blue-stage-background.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding-top: 70px;
}

.top-navbar {
    background: rgba(182, 182, 182, 0.26);
    backdrop-filter: blur(50px);
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: +1;
}

.voltar-btn {
    background-color: transparent;
    border: 1px solid #f7941d;
    color: #f7941d;
    margin: 10px 20px;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    float: left;
    transition: 0.15s;
    cursor: pointer;
}

.voltar-btn:hover {
    transform: scale(1.10);
}

.title-container h1 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
}

.title-container  h6 {
    opacity: 0.8;
    font-size: 12px;
    text-align: center;
}

.cards-list {
    background: rgba(34, 34, 34, 0.26);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 35px 25px;
    width: 1200px;
    margin: 20px auto 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.nova-agenda-btn {
    background-color: transparent;
    border: 1px solid #f7941d;
    color: #f7941d;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

.nova-agenda-btn:hover{
    transform: scale(1.10);
}

.agenda-minicard {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    display: block;
    transition: 0.5s;
}

.agenda-minicard:hover {
    transform: scale(1.04);
}

.card_id_info {
    grid-row: 1/10;
    justify-self: start;
    padding: 10px;
}

.card_titulo_info {
    grid-row: 2/10;
    color: #ffffff;
    font-size: 50px;
    padding: 10px;
    display: flex;
}

.card_dataInicio_info {
    grid-row: 3/10;
    padding: 10px;
    display: block;
}

.card_dataTermino_info {
    grid-row: 4/10;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

.card_horaInicio_info {
    grid-row: 5/10;
    padding: 10px;
    display: block;
}

.card_horaTermino_info {
    grid-row: 6/10;
    padding: 10px;
    display: block;
}

.card_observacao_info{
    grid-row: 7/10;
    padding: 10px;
    display: block;
}

.card_colaborador_info {
    grid-row: 8/10;
    padding: 10px;
    display: block;
}

.card_local_info {
    grid-row: 9/10;
    font-size: 30px;
    padding: 10px;
    display: block;
}

.card_equipamento_info {
    grid-row: 10/10;
    padding: 10px;
    display: block;
}

.delete-agenda-btn {
    background-color: transparent;
    border: 1px solid #e40404;
    color: #e40404;
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

.delete-agenda-btn:hover {
    transform: scale(1.10);
}

.edit-agenda-btn {
    background-color: transparent;
    border: 1px solid #8dc2f3;
    color: #8dc2f3;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

.edit-agenda-btn:hover{
    transform: scale(1.10);
}


@media (max-width: 768px) {

    .cards-list {
        width: 325px;
        margin: 20px auto 0;
        padding: 70px 25px;
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
    }

    .agenda-minicard {
        padding: 10px 15px;
        transition: 0.5s;
        display: block;
        flex-wrap: wrap;
    }

    .card_titulo_info {
        font-size: 30px;
        padding: 10px;
        display: block;
    }

    .nova-agenda-btn {
        margin-left: 70px;
    }
}