@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url(/images/blue-stage-background.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding-top: 70px;
}

.top-navbar {
    background: rgba(182, 182, 182, 0.26);
    backdrop-filter: blur(50px);
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: +1;
}

.voltar-btn {
    background-color: transparent;
    border: 1px solid #f7941d;
    color: #f7941d;
    margin: 10px 20px;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    float: left;
    transition: 0.15s;
    cursor: pointer;
}

.voltar-btn:hover {
    transform: scale(1.10);
}

.title-container  h1 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
}

.title-container  h6 {
    opacity: 0.8;
    font-size: 12px;
    text-align: center;
}

.cards-list {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 35px 25px;
    width: 1200px;
    margin: 20px auto 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.novo-form label{
    font-size: 20px;
    font-weight: 400;
}

.novo-form input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #f7941d;
    border: none;
    outline: invert;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
}

.novo-form input[type=submit]{
    background-color: transparent;
    border: 1px solid #f7941d;
    color: #f7941d;
    padding: 10px 25px;
    border-radius: 20px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

.novo-form input[type=submit]:hover{
    transform: scale(1.10);
}

@media (max-width: 640px) {

    .cards-list {
        width: 325px;
        margin: 20px auto 0;
        padding: 70px 25px;
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
    }

    .agenda-minicard {
        padding: 10px 15px;
        transition: 0.5s;
        display: block;
        flex-wrap: wrap;
    }

    .card_titulo_info {
        font-size: 30px;
        padding: 10px;
        display: block;
    }
}