<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles-colaboradores-form.css}">
    <title>Colaboradores</title>
</head>

<body>

    <div class="top-navbar">
        <a th:href="@{/colaboradores}">
            <button class="voltar-btn">Voltar</button>
        </a>
    </div>

    <div class="title-container">
        <h1>Colaboradores List</h1>
        <h6>Colaboradores do Senac</h6>
    </div>

    <div class="colaboradores-container">

        <ul class="cards-list">

            <form class="novo-form" th:action="@{/colaboradores/patch/{id}(id=${colaborador.id})}"
                th:object="${colaborador}" method="post">
                <table>
                    <tr>
                        <td><label for="tipoColab">Tipo do colaborador: </label></td>
                        <td>
                            <div class="tiposColab-dropdown">
                                <select th:field="*{tipoColaborador}" class="tipoColab-select"
                                        style="width: 300px; color: #000; height: 40px; font-size: 14px;">

                                    <option value="0" style="color: #000;">Escolha o tipo de colaborador: </option>
                                    <option id="tipoColab"
                                            th:each="tipo : ${T(br.com.senaceventos.models.enums.TipoColaborador).values()}"
                                            th:value="${tipo}" th:text="${tipo}" style="color: #000;"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="nome">Nome: </label></td>
                        <td><input type="text" th:field="*{nome}" id="nome" name="nome" placeholder="Insira um nome">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Editar"></td>
                    </tr>
                </table>
            </form>
        </ul>

    </div>

</body>

</html>